<%- include('./partical/head') -%>
<body>
  <%- include('./partical/header') -%>
  <%- include('./partical/search_form') -%>
  <% if (results[0]){ %>
    <div class="pagenation">
      <P>検索結果<%= count %>件</P>
      <% if(current_page != 1){ %>
        <a class="page_btn" href="/search?name=<%= search_name %>&area=<%= search_area %>&submit=検索&page=<%= current_page - 1 %>">前へ</a>
      <% } %>
      <p><%= current_page %>/<%= Math.floor((count / 20)) + 1 %>ページ</p>
      <% if(current_page < Math.floor((count / 20)) + 1){ %>
        <a class="page_btn" href="/search?name=<%= search_name %>&area=<%= search_area %>&submit=検索&page=<%= current_page + 1 %>">次へ</a>
      <% } %>
    </div>
    <% for(let i = 0; i < results.length; i++){ %>
      <div class="ramen">
        <img src="<%= results[i].photo %>">
        <div class="ramen_info">
          <a href="/<%= results[i].id %>" target="_blank"><%= results[i].name %></a>
          <p><%= results[i].address %></p>
          <p><%= results[i].open %></p>
          <a><%= results[i].Likes.length %>人がこのお店に行きたいと思っています</a>
          <% if (results[i].Likes[0]){ %>
            <a href="/like/<%= JSON.stringify(results[i].id) %>">一緒に行きたいと思っている人を確認する</a>
          <% } %>
          <% if(like_arr.includes(results[i].id)){ %>
            <button type="button" style="background-color: aqua;">行きたい済</button>
          <% }
          else { %>
            <button type="button" value="<%= results[i].id %>" id="like_btn">行きたい</button>
          <% } %>
        </div>
      </div>
    <% } 
  } else{ %>
    <h1>検索結果がありません</h1>
  <% } %>
  <script>
    function like_click(event){
        let check = confirm('このお店にいいねしますか？');
        // console.log(event.target.getAttribute("value"))
        var id = event.target.getAttribute("value");
        if( check == true ) {
        // OKなら移動
          location.href = `/like/${id}`;
        }
    }
    let button = document.getElementById('like_btn');
    button.addEventListener('click', like_click);

    // window.onpageshow = (event)=> {
    //   if (event.persisted) {
    //     window.location.reload();
    //   }
    // };
    </script>
  </dev>
</body>
</html>