<%- include('../partical/head') -%>
<body>
  <%- include('../partical/header') -%>
  <div>
    <% for(let i = 0; i < results.length; i++){ %>
      <div style="border: solid;">
        <p>店名：<%= results[i].Api.name %></p>
        <p><%= results[i].User.name %>さん</p>
        <p><%= results[i].User.createdAt %>さん</p>
        <button style="background-color: red;" onclick="like_click('<%= results[i].Api.id %>','<%= results[i].User.id %>','<%= results[i].User.name %>')">この人と一緒に行く</button>
      </div >
    <% } %>
    <script>
      let like_click = (id, user_id, name) => {
        console.log(id)
        console.log(user_id)
        let check = confirm(`${name}さんにいいねしますか？`);
        if(check == true) {
        // OKなら移動
        location.href = `/match?id=${id}&user_id=${user_id}`;
        }
      }
    </script>
  </div>
  <footer>
  </footer>
</body>
</html>