<%- include('../partical/head') -%>
<body>
  <%- include('../partical/header') -%>
  <div>
    <p><%= result.Api.name %></p>
    <% if(result.Giver){ %> 
      <p><%= result.Giver.name %>さん</p>
      <%} else if(result.Receiver){ %>
      <p><%= result.Receiver.name %>さん</p>
    <% } %>
    <% for(let i = 0; i < result.Messages.length; i++){ %>
      <p><%= result.Messages[i].content %></p>
      <p><%= result.Messages[i].createdAt %></p>
      <p><%= result.Messages[i].User.name %></p>
    <% } %>
  </div>
  </form>
  <footer class="message_footer">
    <form action="/message/<%= result.id %>" method="post" class="message_form">
      <textarea class="message_content" name="content" value="" minlength="1" maxlength="250" required placeholder="メッセージを入力"></textarea>
      <input class="message_submit" type="submit" value="送信">
  </footer>
</body>
</html>